.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 6.25vw);

  .house_manage_left_box {
    display: flex;
    flex-direction: column;
  }

  .house_manage_right_box {
    flex-grow: 1;
    padding: 0 3.125vw 3.125vw 3.125vw;

    .manage_container {
      width: 100%;
      height: 100%;
      background-color: $color-gray-100;

      .manage_title {
        display: flex;
        font-size: 2.083vw;
        font-family: 'NanumSquareB', sans-serif;
        color: $color-black-100;
        padding: 1.667vw 0 0 1.927vw;

        &::before {
          content: "";
          width: 0.26vw;
          height: 2.083vw;
          background-color: #313131;
          margin-right: 0.729vw;
        }
      }

      .manage_box {
        width: 100%;
        padding: 1.875vw 7.292vw 8.333vw 3.646vw;

        .search_box {
          display: flex;
          justify-content: space-between;
          gap: 6.25vw;
          padding: 0 0.521vw 0 1.458vw;

          .radio_box {
            display: flex;
            gap: 1.302vw;
          }
        }

        .blue_button {
          float: right;
          width: 6.094vw;
          height: 2.396vw;
          border-radius: 0.833vw;
          box-shadow: inset -0.131vw -0.162vw 0.208vw rgba(4, 0, 0, 0.55);
          background-color: $color-blue-000;
          font-size: 0.99vw;
          font-family: 'NanumSquareEB', sans-serif;
          color: $color-white-000;
          margin: auto 1.667vw 1.042vw auto;
        }

        .party_detail_button_box{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 8px;

          .party_modify_button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 32px;
            color: $color-white-000;
            border-radius: 8px;
            background-color: $color-blue-000;
            font-family: 'NanumSquareEB', sans-serif;
            box-shadow: inset -0.131vw -0.162vw 0.208vw rgba(4, 0, 0, 0.55);
            font-size: 12px;
            margin-right: 16px;
          }

          .party_delete_button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 32px;
            color: $color-white-000;
            border-radius: 8px;
            background-color: $color-red-000;
            font-family: 'NanumSquareEB', sans-serif;
            box-shadow: inset -0.131vw -0.162vw 0.208vw rgba(4, 0, 0, 0.55);
            font-size: 12px;
            margin-right: auto;
          }

          .party_enter_button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 32px;
            color: $color-white-000;
            border-radius: 8px;
            background-color: $color-blue-000;
            font-family: 'NanumSquareEB', sans-serif;
            box-shadow: inset -0.131vw -0.162vw 0.208vw rgba(4, 0, 0, 0.55);
            font-size: 12px;
            margin-left: auto;
          }
        }
      }
    }
  }
}

.modal_close_button{
  position: absolute;
  top: -1.667vw;
  right: 1.979vw;
  font-size: 0.938vw;
  font-family: 'NanumSquareEB', sans-serif;
  color: $color-white-000;
  background-color: transparent;
}

.modal_table_container{
  width: 100%;
}