.table_container {
  width: 100%;
  margin-top: 1.042vw;
}

.guest_house_table {
  width: 100%;
  border-radius: 2.083vw;
  overflow: hidden;
  border-bottom: 0.052vw solid;
}

.guest_house_table th {
  height: 5.052vw;
  vertical-align: middle;
  font-size: 1.458vw;
  font-family: 'NanumSquareEB', sans-serif;
  color: $color-black-100;
  background-color: $color-blue-200;
  font-weight: bold;
}

.th_left_blank,
.td_left_black{
  width: 1.875vw;
}

.th_right_blank,
.td_right_black{
  width: 2.604vw;
}

.guest_house_table td {
  height: 4.688vw;
  vertical-align: middle;
  font-size: 1.354vw;
  font-family: 'NanumSquareB', sans-serif;
  color: $color-black-400;
  border-bottom: 0.052vw solid $color-gray-200;
  background-color: $color-white-000;

  &:first-child,
  &:last-child{
    border-bottom: none;
  }
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.modal_text_1 {
  font-size: 2.135vw;
  font-family: 'NanumSquareR', sans-serif;
  color: $color-black-100;
}

.modal_button_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.708vw;
  margin-top: 1.875vw;

  button {
    width: 10.99vw;
    height: 3.021vw;
    border-radius: 0.833vw;
    box-shadow: inset -0.131vw -0.162vw 0.208vw rgba(4, 0, 0, 0.55);
    font-size: 1.771vw;
    font-family: 'NanumSquareR', sans-serif;
  }

  .modal_blue_button{
    color: $color-white-000;
    background-color: $color-blue-000;
  }

  .modal_gray_button{
    color: $color-black-100;
    background-color: $color-gray-300;
  }
}