.table_container {
  width: 100%;
  margin-top: 20px;
}

.guest_house_table {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
  border-bottom: 1px solid;
}

.guest_house_table th {
  height: 97px;
  vertical-align: middle;
  font-size: 28px;
  font-family: 'NanumSquareEB', sans-serif;
  color: $color-black-100;
  background-color: $color-blue-200;
  font-weight: bold;
}

.th_left_blank,
.td_left_black{
  width: 36px;
}

.th_right_blank,
.td_right_black{
  width: 50px;
}

.guest_house_table td {
  height: 90px;
  vertical-align: middle;
  font-size: 26px;
  font-family: 'NanumSquareB', sans-serif;
  color: $color-black-400;
  border-bottom: 1px solid $color-gray-200;
  background-color: $color-white-000;

  &:first-child,
  &:last-child{
    border-bottom: none;
  }
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.modal_text_1 {
  font-size: 41px;
  font-family: 'NanumSquareR', sans-serif;
  color: $color-black-100;
}

.modal_button_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
  margin-top: 36px;

  button {
    width: 211px;
    height: 58px;
    border-radius: 16px;
    box-shadow: inset -2.517px -3.109px 4px rgba(4, 0, 0, 0.55);
    font-size: 34px;
    font-family: 'NanumSquareR', sans-serif;
  }

  .modal_blue_button{
    color: $color-white-000;
    background-color: $color-blue-000;
  }

  .modal_gray_button{
    color: $color-black-100;
    background-color: $color-gray-300;
  }
}