.table_container {
  width: 100%;
  background-color: $color-white-000;
  border-radius: 2.083vw;
  padding-bottom: 2.188vw;

  .participant_modal_table {
    width: 100%;
    border-radius: 2.083vw;
    overflow: hidden;

    th {
      height: 5.677vw;
      background-color: $color-blue-200;
      color: $color-black-100;
      vertical-align: middle;
      font-size: 1.406vw;
      font-weight: bold;
      font-family: 'NanumSquareEB', sans-serif;
    }

    td {
      height: 3.125vw;
      font-size: 1.406vw;
      font-family: 'NanumSquareB', sans-serif;
      vertical-align: middle;
      color: $color-black-400;
      font-weight: 500;
    }

    .modal_input {

      input {
        width: 60%;
        height: 60%;
        border: 0.052vw solid $color-gray-600;
        display: block;
        margin: 0 auto;
        font-size: 1.146vw;
        font-family: 'NanumSquareB', sans-serif;
        color: $color-black-400;
        text-align: center;
      }

      select {
        height: 60%;
        border: 0.052vw solid $color-gray-600;
        display: block;
        margin: 0 auto;
        font-size: 1.146vw;
        font-family: 'NanumSquareB', sans-serif;
        color: $color-black-400;
        text-align: center;
      }
    }

    .th_left_blank,
    .td_left_black {
      width: 1.875vw;
    }

    .th_right_blank,
    .td_right_black {
      width: 2.604vw;
    }

    .x_button {
      width: 1.979vw;
      height: 1.979vw;
      border-radius: 0.313vw;
      background-color: $color-gray-600;
      font-size: 1.302vw;
      font-family: 'NanumSquareEB', sans-serif;
      color: $color-white-000;
    }
  }

  .modal_blue_button_box {
    display: flex;
    align-items: center;
    justify-content: center;

    .blue_button {
      width: 7.344vw;
      height: 2.76vw;
      border-radius: 0.833vw;
      box-shadow: inset -0.131vw -0.162vw 0.208vw rgba(4, 0, 0, 0.55);
      background-color: $color-blue-000;
      font-size: 1.458vw;
      font-family: 'NanumSquareR', sans-serif;
      color: $color-white-000;
      margin-top: 3.438vw;
    }
  }
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}