.chat_box{
  max-width: 70%;
  padding: 8px 8px 8px 8px;
  border-radius: 4px 0 4px 4px;
  background-color: $color-white-000;
  margin-bottom: 5px;
  border: 1px solid $color-gray-000;
  margin-left: auto;

  .chat_text{
    font-size: 12px;
    color: $color-black-100;
    word-wrap: break-word;  // 긴 단어도 줄바꿈 처리
    white-space: normal;  // 기본적인 줄바꿈 허용
    line-height: 16px;
  }
}