.container {
  display: flex;
  width: 100%;
  margin-top: 24px;
  gap: 12px;

  .time_text {
    font-size: 15px;
    color: $color-black-100;
    font-family: "NanumSquareR", sans-serif;
    margin-top: auto;
    margin-left: auto;
  }

  .chat_box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60%;
    font-size: 26px;
    color: $color-black-100;
    font-family: "NanumSquareEB", sans-serif;

    .chat_text {
      width: 100%;
      background-color: $color-gray-300;
      padding: 20px 15px 19px 18px;
      word-wrap: break-word; // 오래된 브라우저 호환성
      overflow-wrap: break-word; // 최신 브라우저 표준
      white-space: normal; // 기본 줄바꿈 허용
      line-height: 34px;
      border-radius: 18px 0 18px 18px;
    }
  }
}