.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.042vw 0 1.563vw 0;

  .house_info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55.365vw;
    height: 41.094vw;
    border-radius: 2.969vw;
    padding: 1.667vw 1.823vw 2.604vw 1.667vw;
    background-color: $color-white-000;
    overflow: hidden;

    .house_name_qr_box {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .kakao_pay_button {
        width: 4.083vw;
        height: 4.083vw;
        border-radius: 20% 20% 20% 20%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .house_name {
        font-size: 2.083vw;
        font-weight: bold;
        font-family: 'NanumSquareEB', sans-serif;
        padding: 1.042vw 2.083vw 1.042vw 2.083vw;
        border-radius: 0.938vw;
        background-color: $color-blue-200;
        margin: 0 auto;
      }

      .qr_box {
        width: 4.083vw;
        height: 4.083vw;
        background-color: transparent;

        img {
          width: 100%;
          height: 100%;
        }
      }


    }



    .house_name_input {
      font-size: 2.083vw;
      font-weight: bold;
      font-family: 'NanumSquareB', sans-serif;
      padding: 1.042vw 2.083vw 1.042vw 2.083vw;
      border-radius: 0.938vw;
      text-align: center;
      color: $color-black-100;
      border: 0.052vw solid #c9c9c9;

      ::placeholder {
        color: #8c8c8c;
      }
    }

    .house_info_box {
      display: flex;
      flex-direction: column;
      gap: 3.125vw;
      width: 100%;
      margin-top: 3.385vw;

      .house_info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .house_info_left_text {
          font-size: 1.979vw;
          font-weight: bold;
          font-family: 'NanumSquareEB', sans-serif;
          color: $color-black-100;
        }

        .house_info_right_text {
          font-size: 1.719vw;
          font-family: 'NanumSquareB', sans-serif;
          color: $color-black-400;
        }

        .house_right_input {
          width: 20.833vw;
          font-size: 1.979vw;
          font-weight: bold;
          font-family: 'NanumSquareB', sans-serif;
          color: $color-black-100;
          padding: 0.521vw 1.302vw 0.521vw 1.302vw;
          border-radius: 0.938vw;

          ::placeholder {
            color: #8c8c8c;
          }
        }
      }
    }

    .button_container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 2.865vw;
      margin-top: 5.208vw;

      .register_button,
      .save_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10.99vw;
        height: 3.021vw;
        font-size: 1.771vw;
        font-family: 'NanumSquareR', sans-serif;
        color: $color-white-000;
        border-radius: 0.833vw;
        box-shadow: inset -0.131vw -0.162vw 0.208vw rgba(4, 0, 0, 0.55);
        background-color: $color-blue-000;
      }

      .modify_button,
      .cancel_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10.99vw;
        height: 3.021vw;
        font-size: 1.771vw;
        font-family: 'NanumSquareR', sans-serif;
        color: $color-black-100;
        border-radius: 0.833vw;
        box-shadow: inset -0.131vw -0.162vw 0.208vw rgba(4, 0, 0, 0.55);
        background-color: $color-gray-300;
      }
    }
  }
}