.container {
  width: 100%;

  .container_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 105px 5.6% 86px 5.6%;

    .party_text_1 {
      font-size: 44px;
      color: $color-black-100;
      font-family: 'NanumSquareR', sans-serif;
    }

    .home_text_box {
      display: flex;
      align-items: center;
      margin-right: auto;
      gap: 20px;

      img {
        width: 40px;
      }

      .home_text {
        font-size: 34px;
        color: $color-black-100;
        font-family: 'NanumSquareEB', sans-serif;
      }
    }

    .house_info_box {
      width: 100%;
      margin-top: 86px;
      padding: 0 3% 0 3%;
      border-radius: 27px;
      background-color: $color-blue-200;

      .house_info_lane {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        line-height: 86px;
        border-bottom: 1px solid $color-gray-200;

        &:last-child {
          border-bottom: none;
        }

        .house_info_left {
          font-size: 32px;
          color: $color-black-100;
          font-family: 'NanumSquareB', sans-serif;
        }

        .house_info_right {
          font-size: 32px;
          color: $color-black-100;
          font-family: 'NanumSquareR', sans-serif;
        }
      }
    }

    .button_box {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 28px;
      margin-top: 106px;

      button {
        width: 100%;
        height: 81px;
        font-size: 32px;
        color: $color-white-000;
        font-family: 'NanumSquareB', sans-serif;
        border-radius: 27px;
      }

      .house_party_button {
        background-color: $color-blue-000;
      }

      .personal_chat_button {
        background-color: $color-blue-200;
      }

      .love_button {
        background-color: $color-red-100;
      }
    }
  }
}