.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 6.25vw);

  .house_manage_left_box {
    display: flex;
    flex-direction: column;
  }

  .house_manage_right_box{
    flex-grow: 1;
    padding: 0 3.125vw 3.125vw 3.125vw;

    .manage_container{
      width: 100%;
      height: 100%;
      background-color: $color-gray-100;

      .manage_title{
        display: flex;
        font-size: 2.083vw;
        font-family: 'NanumSquareB', sans-serif;
        color: $color-black-100;
        padding: 1.667vw 0 0 1.927vw;

        &::before{
          content: "";
          width: 0.26vw;
          height: 2.083vw;
          background-color: #313131;
          margin-right: 0.729vw;
        }
      }

      .manage_box{
        width: 100%;
        padding: 8.333vw 7.292vw 6.25vw 3.646vw;

        .search_box{
          display: flex;
          justify-content: space-between;
          gap: 6.25vw;
          padding: 0 0.521vw 0 1.458vw;
          
          .radio_box{
            display: flex;
            gap: 1.302vw;
          }
        }
      }
    }
  }
}