.container {
  width: 100%;

  .container_contens {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .chat_header {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      gap: 36px;
      height: 60px;
      background-color: #f8f9fa;
      flex-shrink: 0;
      padding-left: 20px;

      .back_button {
        font-size: 46px;
        color: $color-black-100;
        font-family: 'NanumSquareEB', sans-serif;
        background-color: transparent;
      }

      .chat_header_text {
        font-size: 32px;
        font-family: 'NanumSquareEB', sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .chat_contents {
      width: 100%;
      height: 100%;
      padding: 8px 32px 12px 23px;
      overflow-y: auto;
      background-color: #ffffff;
    }

    .chat_input_box {
      position: sticky;
      background-color: transparent;
      flex-shrink: 0;
      bottom: 0;
      width: 100%;
      height: 76px;
      padding: 12px 20px 12px 20px;

      .chat_box {
        display: flex;
        gap: 14px;
        width: 100%;
        height: 100%;
      }

      .chat_input {
        flex: 1;
        height: 100%;
        border-radius: 15px;
        background-color: transparent;
        border: 3px solid $color-gray-900;
        font-size: 26px;
        color: $color-gray-1000;
        font-family: "NanumSquareR", sans-serif;
        padding: 0 37px 0 37px;
        resize: none;
        overflow-y: hidden;
      }

      .send_button {
        width: 124px;
        height: 100%;
        border-radius: 15px;
        background-color: $color-gray-700;
        border: 3px solid $color-gray-900;
      }
    }
  }
}