.container {
  width: 100%;

  .container_contens {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .chat_header {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      height: 60px;
      background-color: #f8f9fa;
      flex-shrink: 0;
      padding-left: 20px;

      .chat_header_text {
        font-size: 32px;
        font-family: 'VITROCORE', sans-serif;
        font-weight: lighter;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .chat_contents {
      width: 100%;
      padding: 12px 20px 12px 20px;
      border-top: 1px solid $color-gray-000;
      border-bottom: 1px solid $color-gray-000;
      flex-grow: 1;
      overflow-y: auto;
      background-color: #ffffff;
    }

    .chat_input_box {
      position: sticky;
      height: 50px;
      background-color: #f8f9fa;
      flex-shrink: 0;
      bottom: 0;
      padding: 12px 20px 12px 20px;

      .chat_box {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        border: 1px solid $color-gray-000;
      }

      .chat_input {
        flex: 1;
        height: 100%;
      }

      .send_button{
        flex: 0.2;
        height: 100%;
      }
    }
  }
}