.container {}

.login_box {
  width: 100%;
  height: 100%;
  display: flex;
}

.login_box_left {
  position: relative;
  width: 46.8%;
  background: linear-gradient(152deg, #6d2972 0%, #3a52a9 100%);
  padding-top: 15%;

  &_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    p {
      color: $color-white-000;
    }

    &_text_1 {
      font-size: 94px;
      font-family: 'VITROCORE', sans-serif;
    }

    &_text_2 {
      font-size: 96px;
      font-family: 'VITROCORE', sans-serif;
    }

    &_text_3 {
      font-size: 34px;
      margin-top: 32px;
      font-family: 'NanumSquareR', sans-serif;
    }

    &_img_box {
      width: 40%;
      margin-top: 83px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.login_box_left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/src/assets/image/login_page_back_img_1.jpg") no-repeat right / cover;
  opacity: 0.15;
  z-index: 1;
}

.login_box_right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-top: 12%;

  &_inner {
    display: flex;
    flex-direction: column;

    &_text_1 {
      font-size: 48px;
      line-height: 61px;
      color: $color-black-000;
      font-family: 'NanumSquareR', sans-serif;
    }

    &_text_2 {
      font-size: 25px;
      line-height: 32px;
      color: $color-black-000;
      margin: 40px auto 20px auto;
      font-family: 'NanumSquareR', sans-serif;
    }

    &_input_box {
      display: flex;
      flex-direction: column;
      gap: 35px;
      margin-top: 18px;
      font-family: 'NanumSquareR', sans-serif;

      input {
        width: 100%;
        height: 84px;
        border-radius: 18px;
        font-size: 28px;
        border: 1px solid #c9c9c9;
        padding: 0 25px 0 25px;
      }
    }

    .login_box_right_inner_login_button {
      width: 100%;
      height: 84px;
      border-radius: 18px;
      background-color: #404040;
      border: 1px solid #c9c9c9;
      font-size: 28px;
      color: $color-white-000;
      font-family: 'NanumSquareR', sans-serif;
      text-align: center;
      cursor: pointer;
    }

    .login_box_right_inner_signup_box {
      display: flex;
      gap: 28px;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      .login_box_right_inner_signup_text {
        font-size: 26px;
        color: $color-black-000;
        font-family: 'NanumSquareR', sans-serif;
      }

      .login_box_right_inner_signup_button {
        font-size: 26px;
        color: $color-black-000;
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-family: 'NanumSquareR', sans-serif;
      }
    }

    &_sns_text {
      display: flex;
      align-items: center;
      text-align: center;
      width: 100%;
      font-size: 28px;
      color: $color-black-000;
      margin-top: 50px;
      font-family: 'NanumSquareR', sans-serif;

      &::before,
      &::after {
        content: "";
        flex: 1;
        border-bottom: 2px solid #c9c9c9;
      }

      &::before {
        margin-right: 20px;
      }

      &::after {
        margin-left: 20px;
      }
    }

    .sns_login_button_box {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin: 70px auto 100px auto;
    }
  }
}