.house_manage_menu_box {
  display: flex;
  flex-direction: column;
  gap: 0.313vw;
  width: 15.625vw;
  height: 100%;
  filter: drop-shadow(0.234vw 0.406vw 0.13vw rgba(4, 0, 0, 0.25));
  background-color: $color-blue-000;
  margin-top: 1.823vw;
  padding-top: 2.188vw;
  border-radius: 0 0.938vw 0 0;

  .menu_tab {
    position: relative;
    display: flex;
    width: 100%;
    height: 3.333vw;

    .menu_tab_sideBar {
      width: 0.417vw;
      height: 100%;
      border-radius: 0.208vw;
      background-color: $color-blue-100;
      visibility: hidden; /* 기본적으로 hidden */
      
      /* isActive일 때 visible */
      &.visible {
        visibility: visible;
      }
    }

    .menu_card {
      position: absolute;
      left: 1.198vw;
      display: flex;
      align-items: center;
      width: 14.948vw;
      height: 100%;
      border-radius: 0.938vw;
      padding-left: 1.563vw;
      filter: drop-shadow(0.234vw 0.406vw 0.13vw rgba(4, 0, 0, 0.25));
      background-color: transparent;
      font-size: 1.458vw;
      font-family: 'NanumSquareB', sans-serif;
      color: $color-white-000;
      cursor: pointer;

      /* isActive일 때 스타일 */
      &.active_card {
        background-color: $color-blue-100;
      }
    }
  }
}
