.info_box{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: auto;

  .info_image{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: gray;
  }

  .info_name{
    font-size: 16px;
    font-family: 'NanumSquareR', sans-serif;
    font-weight: bold;
    color: $color-black-100;
    margin-right: 4px;
  }

  .info_time{
    font-size: 12px;
    font-family: 'NanumSquareEB', sans-serif;
    color: $color-gray-300;
    margin-right: 5px;
  }
}