.input_wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;

  .name_input {
    height: 2.813vw;
    border-radius: 1.406vw;
    background-color: $color-white-000;
    border: 0.156vw solid $color-blue-000;
    font-size: 1.302vw;
    font-family: 'NanumSquareB', sans-serif;
    color: $color-black-200;
    padding: 0 3.125vw 0 1.563vw;
    width: 100%;
  }

  img {
    position: absolute;
    right: 0.781vw;
    top: 50%;
    transform: translateY(-50%);
    width: 1.563vw;
    height: 1.563vw;
    pointer-events: none;
  }
}

