.container {
  display: flex;
  gap: 19px;
  width: 100%;
  border-bottom: 3px solid $color-gray-800;
  padding: 21px 0 16px 0;
  cursor: pointer;
  transition: transform 0.2s ease; // 부드러운 확대 효과

  &:hover {
    transform: scale(1.05); // 5% 확대
  }

  .user_image_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: $color-gray-800;
    overflow: hidden;

    img {
      width: 90%;
      height: 90%;
    }
  }

  .user_chat_info_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .user_chat_info_left {

      .user_name {
        font-size: 28px;
        font-weight: bold;
        font-family: 'NanumSquareEB', sans-serif;
      }

      .user_chat_text {
        font-size: 22px;
        font-weight: lighter;
        font-family: 'NanumSquareR', sans-serif;
        margin-top: 12px;
      }
    }

    .user_chat_info_right {

      .user_chat_time {
        font-size: 22px;
        font-weight: lighter;
        font-family: 'NanumSquareR', sans-serif;
        color: $color-black-000;
      }

      .user_chat_new_alert {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $color-blue-000;
        color: $color-white-100;
        font-size: 14px;
        font-weight: lighter;
        font-family: 'NanumSquareB', sans-serif;
        margin-top: 8px;
        margin-left: auto;
      }
    }
  }
}