.container{
  display: flex;
  gap: 6px;
  width: 100%;

  .user_image_box{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: aquamarine;
  }

  .user_chat_info_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $color-gray-000;
    margin-bottom: 18px;

    .user_chat_info_left{

      .user_name{
        font-size: 16px;
        font-weight: bold;
        font-family: 'NanumSquareR', sans-serif;
      }

      .user_chat_text{
        font-size: 12px;
        line-height: 32px;
        font-weight: lighter;
        font-family: 'NanumSquareR', sans-serif;
      }
    }

    .user_chat_info_right{

      .user_chat_time{
        font-size: 12px;
        font-weight: lighter;
        font-family: 'NanumSquareR', sans-serif;
      }

      .user_chat_new_alert{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: aqua;
        color: $color-white-000;
        font-size: 12px;
        font-weight: lighter;
        font-family: 'NanumSquareR', sans-serif;
        margin-top: 8px;
        margin-left: auto;
      }
    }
  }
}