// COLOR WHITE
$color-white-000: #ffffff;

// COLOR BLACK
$color-black-000: #404040;
$color-black-100: #000000;
$color-black-200: #262626;
$color-black-300: #434343;
$color-black-400: #333333;

// COLOR GRAY
$color-gray-000: #8c8c8c;
$color-gray-100: #eeeeee;
$color-gray-200: #313131;

// COLOR BLUE
$color-blue-000: #4462d0;
$color-blue-100: #2a439a;
$color-blue-200: #bfcbf7;