// COLOR WHITE
$color-white-000: #ffffff;

// COLOR BLACK
$color-black-000: #404040;
$color-black-100: #000000;
$color-black-200: #262626;
$color-black-300: #434343;
$color-black-400: #333333;
$color-black-500: #1a1a1a;
$color-balck-600: #4d4d4d;

// COLOR GRAY
$color-gray-000: #8c8c8c;
$color-gray-100: #eeeeee;
$color-gray-200: #313131;
$color-gray-300: #b2b2b2;
$color-gray-400: #959595;
$color-gray-500: #bfbfbf;
$color-gray-600: #c9c9c9;
$color-gray-700: #e5e5e5;

// COLOR BLUE
$color-blue-000: #4462d0;
$color-blue-100: #2a439a;
$color-blue-200: #bfcbf7;

// COLOR RED
$color-red-000: #e60012;
$color-red-100: #e5313f;

// COLOR YELLOW
$color-yellow-000: #ffeb00;