@font-face {
  font-family: 'VITROCORE';
  src: url('/src/assets/font/woff2/VITROCORE.woff2') format('woff2'),
    url('/src/assets/font/ttf/VITROCORE.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare_0';
  src: url('/src/assets/font/woff2/NanumSquare_0.woff2') format('woff2'),
    url('/src/assets/font/woff/NanumSquare_0.woff') format('woff'),
    url('/src/assets/font/ttf/NanumSquare_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare_acL';
  src: url('/src/assets/font/woff2/NanumSquare_acL.woff2') format('woff2'),
    url('/src/assets/font/woff/NanumSquare_acL.woff') format('woff'),
    url('/src/assets/font/ttf/NanumSquare_acL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare_acR';
  src: url('/src/assets/font/woff2/NanumSquare_acR.woff2') format('woff2'),
    url('/src/assets/font/woff/NanumSquare_acR.woff') format('woff'),
    url('/src/assets/font/ttf/NanumSquare_acR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/src/assets/font/woff2/NanumSquare.woff2') format('woff2'),
    url('/src/assets/font/woff/NanumSquare.woff') format('woff'),
    url('/src/assets/font/ttf/NanumSquare.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareB';
  src: url('/src/assets/font/woff2/NanumSquareB.woff2') format('woff2'),
    url('/src/assets/font/woff/NanumSquareB.woff') format('woff'),
    url('/src/assets/font/ttf/NanumSquareB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareEB';
  src: url('/src/assets/font/woff2/NanumSquareEB.woff2') format('woff2'),
    url('/src/assets/font/woff/NanumSquareEB.woff') format('woff'),
    url('/src/assets/font/ttf/NanumSquareEB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareL';
  src: url('/src/assets/font/woff2/NanumSquareL.woff2') format('woff2'),
    url('/src/assets/font/woff/NanumSquareL.woff') format('woff'),
    url('/src/assets/font/ttf/NanumSquareL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('/src/assets/font/woff2/NanumSquareR.woff2') format('woff2'),
    url('/src/assets/font/woff/NanumSquareR.woff') format('woff'),
    url('/src/assets/font/ttf/NanumSquareR.ttf') format('truetype');
}